* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    background-image: url('../img/freetileset/png/BG/BG.png');
}

#player {
    //  background-color: red;
    background-image: url('../img/Idle (1).png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 35px;
    width: 150px;
    height: 130px;
    position: absolute;
    bottom: 0;
    // border-radius: 50%;
}

.turn {
    transform: rotateY(180deg);
}

#ground {
    background-image: url('../img/freetileset/png/Tiles/2.png');
    background-size: contain;
    height: 150px;
    left: 0;
    right: 0;
    //width: 100%;
    position: absolute;
    bottom: 0;
}